## Задание №3

В качестве домашнего задания ответьте на следующие вопросы:

### 1. В чем принципиальные отличия item-item рекомендаций от ALS?

item-item - является детерменированной системой и не является машинным обучением. Алгоритм основан на KNN;

ALS - является алгоритмом машинного обучения. Отличается лучшим быстродействием и меньшими трудозатратами по сравнению с item-item.

### 2. Приведите 3 примера весов user-item матрицы для задачи рекоммендаций товаров

In [1]:
import pandas as pd
import numpy as np

user_item_matrix = pd.DataFrame(np.array(
    [[1, 0, 1, 1, 0], 
     [1, 1, 0, 0, 0], 
     [1, 1, 1, 0, 0],
    [0, 0, 0, 0, 1]]), columns=['item_1', 'item_2', 'item_3', 'item_4', 'item_5'])

user_item_matrix

   item_1  item_2  item_3  item_4  item_5
0       1       0       1       1       0
1       1       1       0       0       0
2       1       1       1       0       0
3       0       0       0       0       1

In [2]:
w_item = np.array([1., 1.5, 1.5, 3.0, 100.])
w_item

array([  1. ,   1.5,   1.5,   3. , 100. ])

In [3]:
user_item_matrix * w_item

   item_1  item_2  item_3  item_4  item_5
0     1.0     0.0     1.5     3.0     0.0
1     1.0     1.5     0.0     0.0     0.0
2     1.0     1.5     1.5     0.0     0.0
3     0.0     0.0     0.0     0.0   100.0

In [4]:
w_user = np.array([3./5, 2./5, 3./5, 1./5]).reshape(-1, 1)
w_user

array([[0.6],
       [0.4],
       [0.6],
       [0.2]])

In [5]:
w_user * user_item_matrix

   item_1  item_2  item_3  item_4  item_5
0     0.6     0.0     0.6     0.6     0.0
1     0.4     0.4     0.0     0.0     0.0
2     0.6     0.6     0.6     0.0     0.0
3     0.0     0.0     0.0     0.0     0.2

### 3. Какие ограничения есть у ALS? (Тип информации, линейность/нелинейность факторов и т д)

Принимает только неотицательные значения: 1 - взаимодействие было, 0 - взаимодействия не было;

На выходе алгоритма не вероятности, а числа, которые просто ранжируются.